/*
RESET
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/

img{
    display: inline-block;
}

.avatar{
    width: 70px;
    height: 70px;
}

.fa-solid{
    font-size: 1.8em;
}
/*
BACKGROUND
*/
.my-background{
    height: 100vh;
    width: 100%;
    position: relative;
}

.green-background{
    height: 20%;
    background-color: #009688;
}
.white-background{
    height: 80%;
    background-color: #DADBD3;
}


/*
MAIN
*/
.my-content{
    width: 80%;
    height: 90vh;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.my-text-container{
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
}

.alert-background{
    background-color: #8EDAFC;
    height: 80px;
}

.contact-filter{
    height: 40px;
}

.contact-list{
    height: calc(100% - 128px);
    overflow-y: auto;
}

/*
DEBUG
*/


.debug .my-header{
    height: 80px;
    background-color: #EAEAEA;
    border: 1px solid black;
}

.debug .my-main{
    height: calc(100% - 80px);
}

.debug .my-text-container{
    height: calc(100% - 80px);
    width: 100%;
}

.my-navbar{
    height: 80px;
    background-color: #F3EEEA;
}